/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.body {
    position: relative;
}

#header {
    height: 130px;
    width: 100%;
    background: #85CDF5;
    margin: 0 auto;
    position: absolute;
}

#header a {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #333333;
}

#nossos_lobinhos {
    position: absolute;
    left: 15.64%;
    right: 68.5%;
    top: 38.46%;
    bottom: 38.46%;
}

#fale_conosco {
    position: absolute;
    left: 73.14%;
    right: 15.71%;
    top: 38.46%;
    bottom: 29.23%;
}

#nossos_lobinhos:after {
	content: "";
	display: block;
	background-color: #333333;
    height: 5px;
	width: 0%;
}

#nossos_lobinhos:hover:after {
    width: 100%;
	transition: .4s;
}

#fale_conosco:after {
	content: "";
	display: block;
	background-color: #333333;
    height: 5px;
	width: 0%;
}

#fale_conosco:hover:after {
    width: 100%;
    left: 0%;
	transition: .4s;
}

#logo {
    position: absolute;
    left: 46.6%;
    right: 46.57%;
    top: 9.72%;
    bottom: 5.11%;
}

